h1{
    margin-top: 0px;
    padding-bottom; 10px;
    font-size: 100px;
    font-family: 'Rubik Microbe', cursive;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  *{box-sizing: border-box;}
  .board{
      background-color: ;
      display: none;
      padding-left: 50px;
      height:450px;
      width: 425px;
      flex-wrap: wrap;
      font-family: 'Rubik Microbe', cursive;
      font-size: 100px;
      
      ;
  }
  .cell{
      flex-basis: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: solid white 6px;
      border-right: solid white 6px;
      border-top: solid white 6px;
      border-bottom: solid white 6px;
  }
  body{
      color: red;
      background-color: black;
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
     

  }
  .cell:nth-child(n+4):nth-child(-n+6) {
    border-left: solid white 6px;
    border-right: solid white 6px;
  }

  button{
      padding: 15px 10px;
      background-color:red;
      display: flex;
      margin-left: 50px;
  }
#buttons{
  display: none;
}


#playerOne, #playerTWO_CPU, #draw{
  display: none;
  font-size: 50px;
  font-family: 'Rubik Microbe',cursive;
  background-color: white;
  border: 1px solid red;
  padding: 50px;
}

 input {
    background-color: white;
    font-family: 'Rubik Microbe',cursive;
    border: 1px solid red;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-left: 20px;
    padding: 5px;
    


 } 